@CHARSET "UTF-8";

/* The Announcer widget styling */

/* This is the style for an active close button when the mouse cursor is not over it. */
@sprite .closeButton {
	gwt-image: "closeButtonImg";
	cursor: pointer;
}

/* This is the style for an active close button when the mouse cursor is over it. */
@sprite .closeButtonOver {
	gwt-image: "closeButtonOverImg";
	cursor: pointer;
}

/* This is the styling applied to the main announcer panel */
.panel {
 	background-color: #FFFFFF;
 	border-color: #99BBE8;
 	border-style: solid;
 	border-width: 1px;
 	border-radius: 3px;
 	box-shadow: 1mm 1mm 2px gray;
	padding: 1mm;
	top: 5px !important;
}

.multiple-panels {
	box-shadow: 1mm 1mm 0px white;
}


/* This is the styling applied to the content */
.content {
	padding-right: 1mm !important;
}